
<script type="text/javascript">

$(document).ready(function(){
  $(".not-toggle").click(function(e){
    e.preventDefault();
    $.ajax({
      type: "POST",
      url: "{% url 'get_notifications_ajax' %}",
      data: {
        csrfmiddlewaretoken: "{{ csrf_token }}",
      },
      success: function(data){
        $("#not_ddown").html('<li role="presentation" class="dropdown-header">Definition Updates</li>');
        var count = data.count
        // console.log(count)
        if (count == 0) {
          var url = '{% url "notifications:all" %}'
          $("#not_ddown").append("<li><a href='" + '{% url 'all_Read' %}' + "'>View All</a></li>")
        } else {
          $(data.notifications).each(function(){
            var link = this;
            $("#not_ddown").append("<li><a href='" + '{% url 'all_Read' %}' + "'>" + link + "</li>")

          })
        }
        // console.log(data.notifications);

      },
      error: function(rs, e) {
        console.log(rs);
        console.log(e);
      }

    })

  })

})



</script>
