@keyframes shifter{
  0%{
    overflow: hidden;
  }
  10%{
    overflow: hidden;
  }
  30%{
    height:20px;
  }
  50%{
    transform: scale(.02,1);
    border-radius: 50%;
    overflow: hidden;
  }
  60%{
    left:calc(100% - 100px);
    top:200;
  }
  100%{
  		transform: rotate(360deg)
  		           translate(-150px)
  		           rotate(-360deg);
  }

}


#showhideTransition{
  animation: shifter 3s infinite,rot 3s infinite;
}
body {
  /* overflow: hidden;
  background: black;
  margin: 0;
  color:red; */
}

.offscreen {
    position: absolute;
    left: -999em;
}

/* This modified class is used to make the tags bigger */
.label-as-badge {
    border-radius: 1em;
}

/* Modify size of checkbox in Definitions List */

.form-check-input {
   border: 1px solid black;
   width: 25px;
   height: 25px;
   display: inline-block;
   position: relative;
    z-index: 10;
 }
/* Limit amount of text per line in Definitions List Boxes */
 .limit-text {
   overflow: hidden;
   max-width: 88%;
 }
 .expand-text {
   overflow: hidden;
   max-width: 88%;
 }
 /* Moving Elements in Definitions List Boxes */
.moving-elements{
  position: relative;
  left: 20px; /* This will move it 20px to the right */
}

.hide-until-load{
  visibility: hidden;
}

/* Have Author Information and Label on the same line (DefinitionsList) */
.authors, .authorsLabel{
  display: inline-block;
}

/* Have Citation Information and Label on the same line (DefinitionsList) */
.citation, .citationLabel{
  display: inline-block;
}

/* Modifying text size of authors in Definitions List */
.authors {
  display: inline-block;
  font-size: 0px;
}

.authorsLabelHidden{
  visibility: hidden;
  font-size: 0px;
}
/* Modify Glyphicon for down button on Definition list (for expanding) */
.glyphicon.glyphicon-menu-down {
    font-size: 25px;
}

.glyphicon-menu-up-down-selected {
    color: #8A6D3B;
}
.glyphicon-menu-up-down-unselected {
    color: #337AB7;
}

.glyphicon.glyphicon-menu-up {
    font-size: 25px;
}
.label-warning{
  background-color: #FBF5D7;
}

.label-warning a{color: #8A6D3B;}
.label-primary a{color: #FFFFFF;}

.pull-a-xs-bit-left{
  position: relative;
  left: -11px; /* This will move it 20px to the right */
}
.pull-a-bit-left{
  position: relative;
  left: -51px; /* This will move it 20px to the right */
}
.pull-a-bit-less-left{
  position: relative;
  left: -21px; /* This will move it 20px to the right */
}
.pull-a-bit-up{
  top:10px;
}
.ui-helper-hidden-accessible { position: absolute; left:-999em; }

.alert-info{
  background-color:#ddeaff;
  color:#31589f;
  border-top-color:#000000;
  border-color: #ddeaff;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


/* THE EMOJIS ON THE TOP PANE ON DEFINITIONS LIST PAGE */

.emoji{
  height: 36px;
}
.emoji:hover {
  filter: brightness(105%);
}

/* CHECK MARK FOR SELECT ALL (requires greater brightness) */
#selectAllDefs h1 .emoji:hover{ filter: brightness(180%);}


/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    cursor: default;
    padding: 0;
    margin-top: 2px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ui-autocomplete > li {
  padding: 3px 20px;
}
.ui-autocomplete > li.ui-state-focus {
  background-color: #DDD;
}
.ui-helper-hidden-accessible {
  display: none;
}

.badge-info {
  background-color: #6ab77d;
}
/* table */
.hijd {
  display:block;
}
tr[data-href] { cursor: pointer }

.inlineblock{
  display:inline-block !important;
}

.btn-stripped{
padding: 0;
border: none;
background: none;
margin-left: 5px
}

.badge-notify{
   background:red;
   position:relative;
   top: -8px;
   left: -9px;
   width: auto;
  padding: 2px;
  font-size: 8px;
}


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}


.footer1{
  width: 100%;
  background-color: #f5f5f5;
}

.pagination li a {

      font-size:20px;
    height:40px;
    max-height:40px;
    text-align: center;
}
.pagination li span {
      font-size:20px;
    height:40px;
    max-height:40px;
    text-align: center;
}
.pagination li a .rotate {

    display: inline-block;
  transform: rotate(-180deg);
-ms-transform: rotate(-180deg); /* IE 9 */
-webkit-transform: rotate(-180deg);

}
.arrowFont{

  display: inline-block;
        transform: translate(0px, 0px) ;
      -ms-transform: translate(0px, 0px); /* IE 9 */
      -webkit-transform:translate(0px, 0px);
}


/*
SEARCH BOX ON SEARCH PAGE
CENTERING ELEMENTS
*/

.box-middle{
  width: 100%;
  text-align:center;
}

.box-middle h1 {
  font-size:2.9vw;
}
/*
SIZE OF SEARCH BAR
*/

.smallSearchBar {
  width: 45%;
}

/*
SEARCH BAR ON NAVBAR
 */
.navSearchBar {
  width: 75%;
}

.no-borders{
    border-width: 0px;
    box-sizing: border-box;
}


.hideTimelineX{
    position: absolute;
    color: red;
    overflow: hidden;
}







/* TESTING  */
.navbar-link {
  background-color: transparent;
}
.navbar-link a{
  color: gray;
}
.navbar-link a:hover{
  color: black;
}

/* https://stackoverflow.com/questions/34573447/how-do-i-remove-this-white-line-from-my-bootstrap-navbar-and-change-the-text-col */

.navbar.navbar-default .navbar-collapse {
  border: none;
  box-shadow: none;
}

.navbar.navbar-default {
    margin-top:0px !important;
}
.navbar-collapse.nav.pull-right.collapsing{
  margin-top:30px !important;
}
.navbar-collapse.nav.pull-right.collapse.in{
  margin-top:30px !important;
}


/* CELL PHONE SIZE SUPPORT */
/* https://stackoverflow.com/questions/16387400/getting-the-right-font-size-on-every-mobile-device/16387418 */






    @media only screen and (max-width: 375px) {
      h1 {
        font-size: 15px;
        padding-bottom: 0px;
        padding-top: 0px;
      }
        h2 {
          font-size: 12px;
            margin-bottom: 0px;
            margin-top: 0px;

            border-color: red;
        }
      h3 {
        font-size: 10px;
          padding-bottom: 0px;
          padding-top: 0px;
      }
      h4{
        font-size: 9px;
          padding-bottom: 0px;
          padding-top: 0px;
      }
      h5{
        font-size: 8px;
          padding-bottom: 0px;
          padding-top: 0px;
      }
      .panel-title{
        font-size: 8px;
      }
      #inlineCheckbox{
         visibility: hidden;
      }
      div.post.media{
        padding-bottom: 0px;
        padding-top: 0px;
        margin-top: 0px;
      }
      .authorsLabel{
        font-size: 8px !important;
      }

      /* Panel Index (centering) */
      .phoneRowPanel{
      left: 25%;
      }
      .phoneTiles{
        left: 0px;
      }


      /* User Settings Table */
      #tableUserSettings{
         border-spacing: 0em 2em !important;
      }
    }






    .login-div {
      max-width: 50%;
      margin: 0px auto;
    }

/* checkbox labels distance from checkbox */

#filterDiscList li input{
  margin: 0px 0px 0px 10px;
}


#filterDiscList li label span {
  margin: 0px 0px 0px 10px;
}

body.modal-open {

  overflow: inherit; !important;
  overflow:hidden;
  padding-right:0 !important;

}


/* Favorites Specific Styling */
/* Term Star (hover over color change) */
.starTerm:hover{
  color: darkred;
}

a:hover .userSettingIcons{
  color: darkred;
}


/* Input for password change screen */
#id_oldpassword{
  width:25%;
}

#id_password1{
  width:25%;
}

#id_password2{
  width:25%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  padding-top:5px;
  padding-bottom:2px;
  background-color: #f5f5f5;
}

.WidthOfNavFoot{
  left:50%;
  width:75%;
}

.WidthOfAll{
  left:50%;
  width:75%;
}

/* About Us photo Alignment */

/* Taken from:
https://stackoverflow.com/questions/2997767/how-do-i-keep-two-side-by-side-divs-the-same-height
Author: Pavlo
answered Dec 18 '13 at 22:13
edited Oct 19 '16 at 12:09 */

.columnPhotos {
  flex: 1; /* additionally, equal width */
  width: 49%;
  height: 100%;
  padding: 1em;

}

.centerTextColums{
  display: flex;
    align-items: center;
    justify-content: center;
}

/* Crossref and Microsoft images for Modal in article metadata extractor
 (definitions form) */
.poweredByImages1{
   flex: 1; /* additionally, equal width */
  width: 50%;
  padding: 1em;
}

.poweredByImages2{
   flex: 1; /* additionally, equal width */
  width: 50%;
  padding: 1em;
}

/* Definitions Page Top Pane Icon distance */
.TopPanePadding{
padding-left: .5%;
}

#dropDownFilter{
  width:100%;
}

#hideUntilClick #filterDiscList li label {

    padding: 0;
    margin:0;
    vertical-align: top;
    position: relative;
    *overflow: hidden;

}

#selectAll{
margin-top:300em;

}


#hideUntilClick #filterDiscList li label[for="selectAll"] {
margin-left: .10em;
display:inline;

}

#hideUntilClick #filterDiscList li label[for="selectAll"] span{
margin-left: .5em;
display:inline;

}

#hideUntilClick #filterDiscList li label span{

display: block; margin-left: 2.2em;

}
#hideUntilClick #filterDiscList li label input{
float: left; margin-top:0.15em;
}

.inlineRow{
  width:50%;
  height:110%;
}
