{% extends "account/base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<center>
<h1>Password Settings</h1>
</center>
<br>
   <h2>{% trans "Change Password" %}</h2>
   <br>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">

        {% csrf_token %}
        {% bootstrap_form form size='large' %}
        {% bootstrap_button "Change Password" button_type="submit" button_class="btn-primary" %}
    </form>

    <br><br><br>
{% endblock %}
