<!--
ADAPTED FROM:
Author: Username Rob L.
Date: Jan 2 2018
Source: https://stackoverflow.com/questions/30864011/display-only-some-of-the-page-numbers-by-django-pagination/30864681
-->

<!-- APPLIES TO TERMS LIST -->

{% if is_paginated %}

  <div class="col-md-12 text-center">
<ul class="pagination">

{% if page_obj.number|add:'-5' > 1 %}
      <li><a href="?page={{ page_obj.number|add:'-6' }}"><p class="arrowFont">&#9664;&#9664;</p></a></li>
{% endif %}

{% if page_obj.has_previous %}
    <li><a href="{{request.path}}?page={{ page_obj.previous_page_number }}"><p class="arrowFont">&#9664;</p></a></li>
{% endif %}

{% for i in page_obj.paginator.page_range %}
    {% if page_obj.number == i %}
        <li class="active"><span>{{ i }}</span></li>
    {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
{% endfor %}

{% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}"><p class="arrowFont">&#9654;</p></a></li>
{% endif %}

{% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
    <li><a class="arrowFont" href="?page={{ page_obj.number|add:'5' }}"><p class="arrowFont">&#9654;&#9654;</p></a></li>
{% endif %}

</ul>
    {% endif %}
</div>
