<!--
ADAPTED FROM:
Author: Username Rob L.
Date: Jan 2 2018
Source: https://stackoverflow.com/questions/30864011/display-only-some-of-the-page-numbers-by-django-pagination/30864681
-->

<!-- APPLIES TO DEFINITIONS LIST -->

{% if not is_paginated %}
<div class="col-md-12 text-center" id="pageNumbers">
<ul class="pagination">


  <li id="list_btn_prev"><a href="javascript:prevPage()" id="btn_prev"><p class="arrowFont">&#9664;</p></a></li>

  <li id="list_btn_next"><a href="javascript:nextPage()" id="btn_next"><p class="arrowFont">&#9654;</p></a></li>


</ul>

</div>


<script>

{% for i in page_obj.paginator.page_range %}
  {% if page_obj.number == i %}
      <li class="active"><span>{{ i }}</span></li>
  {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
      <li><a href="?page={{ i }}">{{ i }}</a></li>
  {% endif %}
{% endfor %}

// change based on mobile user
// The following code taken from:
// https://coderwall.com/p/i817wa/one-line-function-to-detect-mobile-devices-with-javascript
function isMobileDevice() {
    return (typeof window.orientation !== "undefined") || (navigator.userAgent.indexOf('IEMobile') !== -1);
};
if (isMobileDevice() == true) {
  $("#mostBookmarkedTermBr").html("Most Bookmarked" + '<br>' + "Terms")
}

// change arrow for mobile user
if (isMobileDevice() == true) {
  $("#btn_prev")[0].childNodes[0].innerHTML= "&#8656;"
  $("#btn_next")[0].childNodes[0].innerHTML= "&#8658;"
}
</script>

{% endif %}
