{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<div style="background:transparent !important;">
  <br>
  <h1 style='text-align:center;'>About Us</h1>
   <br>
    <br>
    <hr>
<br>
<div class="row" style="display: flex;">
  <div class="columnPhotos centerTextColums">
  <h2 style=""><center> Our Mission <center></h2>
  </div>
<br>
<div class="columnPhotos">
  <p> The mission of Peer Defined is to add clarity to peer-reviewed publications and unite different disciplines.
    <br> <br>
    We invite students, faculty, staff, and other consumers of peer-reviewed publications to collect and submit terms
    defined in peer-reviewed publications to distribute it globally. </p>
    </div>
    </div>
<br>
<hr>
<br>
<div class="row" style="display: flex;">
  <div class="columnPhotos centerTextColums">
  <h2 style=""><center> How Our Story <br> Began <center></h2>
  </div>
  <br>
<div class="columnPhotos centerTextColums">
  <p>It all started in the fall of 2017 when Joy was tasked to develop and present
     a moonshot project in <em>Randy J. McCarthy’s </em> Aggression class at
      Northern Illinois University;
      this project was supposed to put a dent into the field of psychology.
<br> <br>
  During that Aggression class, Joy and her fellow classmates noticed
   something—the definition of aggression constantly evolved.
   Other aggression related terms even differed from publication to publication.

    This ended up being one of the common critiques of many of the articles that they read.
    </div>
    </div>
 <p>
   <h6>
     <br>
     </h6>
   <p>
     <div class="row" style="display: flex;">
       <div class="columnPhotos centerTextColums">
       <h3 style="position:relative;"> <center> <em> This <br> Sparked <br> An <br> Idea </em><center></h3>
       </div>
      <div class="columnPhotos">
  <p> What if we had a www.dictionary.com but for terms as defined in peer-reviewed articles?

  And thus, the idea of www.PeerDefined.com was born.

  Although the idea existed, its concept had not been brought to life.
  <br> <br> It was not until Joe heard about the concept of PeerDefined through the grapevine in the spring of 2018 that it started to become a reality. Joe, interested in all forms of coding, wanted to help create PeerDefined.

  Today, Joy and Joe work together to bring you the best version of www.PeerDefined.com. </p>
  </div>
  </div>
<br>
<hr>
<br>

  <center><h2> Meet the Creators </h2></center>
    <h3><br></h3>
<div class="row" style="display: flex;">
  <div class="columnPhotos">

    <img src="{% static 'peerDefine/img/aboutus/joy_site.jpg' %}" style="float: left; width: 120px; height:155px; margin-right:20px;">
<h3 style="margin-top:0px;">Joy Pawirosetiko</h3>
  <p>Joy has a background in social/industrial-organizational psychology,
     business administration, and biology, is a researcher and graduate student
      most of the time, a reader of (fun!) books some of the time, and someone
       who strongly dislikes scary movies all of the time. </p>

</div>

<div class="columnPhotos">
<img src="{% static 'peerDefine/img/aboutus/joe_site.png' %}" style="float: left; width: 120px; height:155px; margin-right:20px;">
<h3 style="margin-top:0px;">Joe Ammar</h3>
<p>Joe is a data analyst and a developer with a background in social/industrial-organizational psychology and international studies.
   During his free time he enjoys working on coding projects, exploring new restaurants, and watching scary movies.
 </p>
</div>
</div>
<br>
<br>
<h4><br></h4>
<hr>

<br><br>
<br><br>




</div>
{% endblock %}
